html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 12px;
    overflow-y: hidden;
}

img {
    image-rendering: crisp-edges;
    border-style: none;
}

#leftcolumncontainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 699;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    width: 310px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    bottom: auto;
    padding: 0;
    max-height: -moz-calc(100% - 120px);
    max-height: -webkit-calc(100% - 120px);
    max-height: calc(100% - 120px);
    margin-top: 35px;
    opacity: 0.9;

}

#leftcolumn {
    float: left;
    padding: 0px;
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ui-slider {
    left: 0;
    margin: 0.5em;
    position: absolute;
    top: auto;
    bottom: 10px;
    width: -moz-calc(100% - 320px);
    width: -webkit-calc(100% - 320px);
    width: calc(100% - 320px);
    right: 0;
    opacity: 0.8;
    z-index: 699;
}

.ui-slider .ui-slider-handle {
    position: relative;
    z-index: 200;
    padding-top: 3px;
    width: 3em;
    height: 3em;

}

.ui-slider-horizontal {
    height: 2em;
}

.ui-widget {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#panel {
    position: absolute;
    top: 5px;
    z-index: 1;
    height: 30px;
    left: 510px;
    width: 80px;
}

.olButton {
    display: inline;
    /*vertical-align: middle;*/
}

#panel .olButton {
    float: left;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.85;
    margin-right: 4px;
}

.panelicon {
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: table-cell;
    /*vertical-align:middle;*/
}

.olButton .layericon {
    background-image: url("/gpzviewer/images/mono_icon_set/white/16x16/layers_1.png");
}

.olButton .legendicon {
    background-image: url("/gpzviewer/images/mono_icon_set/white/16x16/list_bullets.png");
}

.mapButton {
    padding: 4px 12px 4px 12px;
    background-color: #D14836;
    background-image: -moz-linear-gradient(center top, #DD4B39, #D14836);
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

.mapButton {
    background: #dd4b39; /* Old browsers */
    background: -moz-linear-gradient(top, #dd4b39 0%, #d14836 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd4b39), color-stop(100%, #d14836)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dd4b39 0%, #d14836 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dd4b39 0%, #d14836 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dd4b39 0%, #d14836 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dd4b39 0%, #d14836 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#d14836', GradientType=0); /* IE6-9 */
}

.mapButton:hover, .mapButtonActive {
    background: #88bfe8; /* Old browsers */
    background: -moz-linear-gradient(top, #88bfe8 0%, #70b0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88bfe8), color-stop(100%, #70b0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #88bfe8 0%, #70b0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #88bfe8 0%, #70b0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #88bfe8 0%, #70b0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #88bfe8 0%, #70b0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88bfe8', endColorstr='#70b0e0', GradientType=0); /* IE6-9 */
}

#baseLayerSwitcher {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    min-height: 100px;
    overflow: hidden;
    background: white;
    margin-left: 0;
    padding-left: 0;
    opacity: 0.95;
    z-index: 1999;
    box-shadow: 0 0 30px black;

}

#baseLayersList {
    list-style: none;
    margin-left: 0px;
    margin-top: 30px;
    height: 100%;
    overflow-y: hidden;
    padding: 5px;
    overflow-x: hidden;
}

#baseLayersList li {
    list-style: none;
    line-height: 20px;
    border-bottom: 1px solid #CCCCCC;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    overflow: hidden;
    width: 230px;
    margin: -3px;
} 

#baseLayersList li a {
    margin: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
    display: block;
    cursor: pointer;
    line-height: 14px;
    padding-left: 12px;
    padding-right: 12px;
    color: #333333;
}

#baseLayersList li a:hover {
    background: #88bfe8; /* Old browsers */
    text-decoration: none;
}

#baseLayersList li.checked a {
    background: #dd4b39; /* Old browsers */
    color: white;
}

#legendheader {
    top: 0;
    left: 0;
    position: absolute;
    height: 35px;
    width: 310px;
    opacity: 0.95;
}



#panel .glyphicon {
    font-size: 16px;
}

.olControlZoom {
    /* left: 290px !important;*/
}

#dateheader {
    position: absolute;
    bottom: 5px;
    left: 100px;

}

#titlecontainer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5px;
    z-index: 699;
    width: auto;
    text-align: center;
    opacity: 0.9;
    width: 240px;
    background-color: #0089CF;
}


.ui-slider .year {
    font-size: 0.8em;
    font-weight: bold;
}

.ui-slider-horizontal .ui-state-default {
    background: #D14836;
    color: white;
    text-align: center;
}

.ui-slider-handle:hover {
    background-color: #88bfe8;
}

#dateslider label {
    position: absolute;
    width: 20px;
    margin-top: -60px;
    margin-left: -7px;
    text-align: center;
    z-index: 999;
    font-weight: 900;
    color: black;
    text-shadow: 0px 0px 3px #fff;
}

.column_items td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 2px 4px 8px 4px;
}

.column_items td h4 {
    font-size: 11px;
}
/*
.column_items select {
    font-size: 0.8em;
    margin-left: 10px;
    width: 237px;
    overflow: hidden;
    border: 1px solid #ccc;
}
*/
#leftbottom {
    position: absolute;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0px;
    width: 110px;
    z-index: 999;
}

#opacity {
    padding-bottom: 10px;
}

h4 {
    margin-bottom: 4px;
    margin-top: 4px;
}

#geoplaza_attribution {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 699;
    background-color: #0089CF;
    color: white;
    width: 300px;
    padding: 15px;
    /*display: none;*/
}

#geoplaza_attribution a {
    color: white;
    text-decoration-line: underline;

}

.olControlAttribution {
    right: 350px !important;
}

#sel {
    min-height: 50px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    /*border-radius: 10px;*/
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 440px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-zoom {
    right: auto;
    left: 20px;
    bottom: 20px;
    top: auto;
}

.ol-control button {
    font-size: 2em;
}

.buttonLanguage {
    font-size: 12px;
    height: 16px;
    width: 16px;
}

.ol-attribution {
    right: auto;
    left: 0.5em;
    text-align: left;
}

.ol-attribution.ol-uncollapsible {
    right: auto;
}

.ol-overviewmap {
    bottom: 1.5em;
    left: 0.5em;
}

#res {
    height: 100%;
}

#resultlist {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    background: white;
    height: -webkit-calc(100% - 31px); /* height of navigate buttons */
    height:    -moz-calc(100% - 31px);
    height:         calc(100% - 31px);
    overflow-y: scroll;
}

#resultlist li {
    list-style: none;
    list-style-type: none;
    line-height: 20px;
    border-bottom: 1px solid #CCCCCC;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    overflow: hidden;
    width: 100%;
    margin: -3px;
}

#resultlist li a {
    margin: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
    display: block;
    cursor: pointer;
    line-height: 14px;
    padding-left: 12px;
    padding-right: 12px;
    color: #333333;
}

#resultlist li a:hover {
    background: #88bfe8; /* Old browsers */
    text-decoration: none;
}

#resultlist li.checked a {
    background: #dd4b39; /* Old browsers */
    color: white;
}

#resultlist img {
    height: 24px;
    width: 12px;
    vertical-align: middle;
}

#resultlist .selected {
    background: #d4e7f7 none repeat scroll 0 0;

}

#resultNavigate {
    margin: 0px;
}

#legend .glyphicon {
    font-size: 1.4em;
    padding-right: 4px;
}

#legend .list-group-item .glyphicon {
    opacity: 0.3;
}

#legend img {
    opacity: 0.3;
}

#legend .present.selected img {
    opacity: 1;
}

#legend .glyphicon-ok {
    color: green;
}

#legend {
    font-size: 1.0em;
    color: lightgrey;
    padding: 0;
}

#legend .present {
    color: black;
    /*background: #d4e7f7;*/
}

#legend .present .glyphicon {
    opacity: 1;
}

#legend .list-group-item {
    
    padding: 4px 4px 0px 4px;
    border-style: solid;
    border-color: grey;
    margin-left: -1px;
    border-width: 1px 1px 1px 1px;
}

#legend .list-group-item img {
    height: 24px;
    width: 12px;
    vertical-align: middle;
}

#legend .list-group {
    margin-bottom: 0px;
    border: none;
}



#legend .container-fluid {
    padding: 5px;
}

.fa {
    font-size: 1.2em;
    vertical-align: middle;
}

.controlFit .fiticon {
    background-image: url("../images/zoom-best-fit.svg");
    background-size: 20px 20px;
}

.controlFit:hover .fiticon {
    background-image: url("../images/zoom-best-fit_hover.svg");
    background-size: 20px 20px;
}

img[src='Error.src'] {
    display: none;
}

#rightcolumncontainer {
    pointer-events:none;        
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    padding-bottom: 142px;
    margin-top: 30px;
    z-index: 699;
    opacity: 0.95;
}

#rightcolumn {
    pointer-events:auto;       
    float: left;
    height: 70%;
    width: 100%;
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: white;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.header {
    background: white;
    display: block;
    background-color: #066ac0;
    color: white;
    padding: 3px 10px 3px 10px;
    z-index: 699;
    opacity: 0.95;
}

.header-text {
    font-size: 1.5em;
}

#resheader {
    width: 300px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

#info {
    pointer-events:auto;     
    font-size: 0.9em;
    height: 60%;
    width: 100%;
    background: white;
    overflow-y: hidden;
    border-top: 3px double darkgrey;
}

#info table {
    table-layout: fixed;
    width: 100%;
}

#info img {
    max-width: 100%;
    height: auto;
}

#info td {
    font-size: 1.1em;
    border-bottom: 1px solid lightgrey;
    padding: 4px 0px 4px 0px;
}

.info-buttons {
    width: 300px;
    position: fixed;
    padding-right: 20px;
}

.bagactueel {
    color: blue;
    font-style: italic;
}

button.close, button.zoom {
    color: white;
    opacity: 1;
    background-color: initial;
    background-color: transparent; /* ie */
    border: none;
}

button.zoom span {
    color: grey;
}

button.zoom.active span {
    background-color: none;
    color: white;
}

#info-content {
    margin-top: 30px;
    height: -moz-calc(100% - 30px);
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: scroll;
    padding: 5px;
}

#info-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

#info-content li:before {
    position: relative;
    top: -1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 0.6em;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0px 2px;
    content: "\e080";
}

#legend .row-fluid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

#legend .panel {
    border: none;
    border-radius: 0px;
}

#legend .panel-heading {
    padding: 5px 15px;
    cursor: pointer;
    background: #7faad2 none repeat scroll 0 0;
    border-bottom: 1px solid whitesmoke;
}

#legend .panel {
    margin-bottom: 0px;
    margin-top: 0px;

}

#legend .panel-title {
    font-size: 1em;
    font-weight: bold;
}

#legend .panel-title .glyphicon {
    font-size: 12px;
}

.panel-resizable {
    resize: horizontal;
    overflow: auto
}


#baseLayerSwitcher .header {
    width: 230px;
}

#infoModal .modal-dialog {
    margin: 30px auto;
    width: 800px;
}

#panel .controlHelpModal, #panel .controlDownloadModal,  #panel .controlFilterModal {
    padding-bottom: 6px;
    padding-top: 9px;
}

.select_all, .deselect_all {
    cursor: pointer;
}

#panel .controlInfoModal {
    padding-bottom: 5px;
}


#panel .olButton {
    margin-bottom: 4px;
}

#helpModal .modal-dialog {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

#helpModal img {
    border: 1px solid gray;
    opacity: 0.8;
}

#filterModal .modal-dialog {
    min-width: 600px;
    width: 50%;
}

.ol-attribution ul {
    font-size: .9rem;
}

#downloadModal p, h4 {
    margin-bottom: 25px;
}

.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-radius: 0px;
    border-radius: 0px;
}

.panel-heading {
    border-radius: 0px;
    border-radius: 0px;
}

.modal h1 {
    font-size: 2em;
}

.modal h2 {
    font-size: 1.5em;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 4px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  outline: none;
  
}

.twitter-typeahead {
    vertical-align: middle;
}


.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
    display: inline-block;
    vertical-align: middle;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    float: left;
    
}

.select-style select:focus {
    outline: none;
}

.search {
    margin-bottom: 10px;
}

.search button {
    vertical-align: middle;
}

#searchfilter {
    display: inline-block;
}

.searchfilters {
    background-color: rgb(228, 228, 228);
    border-color: rgb(170, 170, 170);
      -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
    padding: 10px 2px 10px 10px;
    float: left;
    margin: 5px;
    line-height: 20px;
    vertical-align: middle;
    
}

.searchfilters button {
    border: none;
    background: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;  
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

input[type=checkbox] {
    margin-right: 5px;
}

.btn-primary {
    background: linear-gradient(to bottom, #dd4b39 0%, #d14836 100%);
    color: white;
    font-weight: 400;
}
.missing {
    color: lightgrey;
}

@media (max-width: 1400px) {
    #leftcolumncontainer, #legendheader {
        width: 310px;
    }
}

@media (max-width: 1030px) {
    #leftcolumncontainer, #legendheader {
        width: 240px;
    }

    .header-text {
        font-size: 1.2em;
    }

    #rightcolumncontainer, #resheader, #geoplaza_attribution {
        width: 280px;
    }

}